.form-wrapper{
    width:40%;
    align-items: center;
    margin: auto;
}
.card-wrapper{
    width: 40%;
    margin: auto;
    margin-top: 2%;
}
.event{
    cursor:pointer;
    font-weight: bolder;
    color: aqua;
}
Table{
    text-align: center;
}
Button{
    margin: 20px;
}
